server.port=8082
spring.application.name=wallet-service

# Database
spring.datasource.url=jdbc:postgresql://localhost:5432/tunfin
spring.datasource.username=user
spring.datasource.password=${DB_PASSWORD:password}
spring.jpa.hibernate.ddl-auto=update
