server.port=8083
spring.application.name=payment-service

# Database
spring.datasource.url=jdbc:postgresql://localhost:5432/tunfin
spring.datasource.username=user
spring.datasource.password=${DB_PASSWORD:password}
spring.jpa.hibernate.ddl-auto=update

# Feign
spring.cloud.openfeign.client.config.default.connectTimeout=5000
spring.cloud.openfeign.client.config.default.readTimeout=5000

# SMTP Mail
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=${SMTP_USERNAME:test@gmail.com}
spring.mail.password=${SMTP_PASSWORD:your_smtp_password}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.from=noreply@tunfin.com
